<% unless @article.errors.blank? %>
  <div class="alert alert-danger">
    <ul class="list-unstyled">
      <% @article.errors.messages.values.flatten.each do |error| %>
        <li><i class="fa fa-exclamation-circle"></i> <%= error %></li>
      <% end -%>
    </ul>
  </div>
<% end -%>
