<%= form_for(:follow, url: follows_path, method: :post, remote: true) do |f| %>
  <%= hidden_field_tag :article_id, @article.id %>
  <button type="submit" class="btn btn-light btn-sm text-secondary"><i class="fa fa-eye fa-fw text-secondary"></i>关注</button>
<% end %>
