<button class="btn btn-light btn-sm text-secondary">
  <a href="<%= close_comments_article_path(@article) %>", data-remote="true", class="text-secondary">
    <i class="fa fa-close fa-fw text-secondary"></i>关闭评论
  </a>
</button>
