<%= form_for(:keep, url: keeps_path, method: :post, remote: true) do |f| %>
  <%= hidden_field_tag :article_id, @article.id %>
  <button type="submit" class="btn btn-light btn-sm text-secondary"><i class="fa fa-bookmark fa-fw text-secondary"></i>收藏</button>
<% end -%>
