<%= form_for(current_user.likes.find_by(article_id: @article.id),
             html: { method: :delete }, remote: true) do |f| %>
  <%= hidden_field_tag :article_id, @article.id %>

  <button type="submit" class="btn btn-light btn-sm">
    <i class="fa fa-heart fa-fw red"></i>点赞
  </button>
<% end %>
