<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#">个人信息</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary active" href="#">喜欢文章</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#">关注文章</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#">收藏文章</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#">正在关注</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#">关注者</a>
  </li>
</ul>
